@media screen and (max-width: 1023px) {
  header {
    width: 100%;
    margin-bottom: 0;
  }
  #your-search {
    width: 90%;
    margin: auto;
  }
  #filter-by {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: initial;
    margin-top: 80px;
  }
  #filter-by div {
    margin-bottom: 30px;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #filter-by div input {
    text-align: center;
    height: 50px;
  }
  #filter-by div .chevron {
    margin: auto;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    height: 50px;
  }
  #by_ingredients > .ingredients {
    min-width: 100%;
  }
  #by_ingredients .sub_menu__ingredients > .tags__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    height: 200px;
    overflow-y: scroll;
  }
  #by_ingredients .sub_menu__ingredients > .tags__list > li {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #kitchen-appliance > .appliances {
    width: 100%;
  }
  #kitchen-appliance .sub_menu__appliances > .tags__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    height: 200px;
    overflow-y: scroll;
  }
  #kitchen-appliance .sub_menu__appliances > .tags__list > li {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #kitchen-tool > .tools {
    width: 100%;
  }
  #kitchen-tool .sub_menu__tools > .tags__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    height: 200px;
    overflow-y: scroll;
  }
  #kitchen-tool .sub_menu__tools > .tags__list > li {
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #recipes-list {
    margin: 20px auto;
    width: 100%;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  #recipes-list > article {
    width: 40%;
    margin: 30px auto;
  }
  #yoursTags > .tag {
    width: 20%;
    height: 45px;
    margin: 0 5px 5px 0;
  }
}

@media screen and (max-width: 768px) {
  #recipes-list {
    margin: 20px auto;
    width: 100%;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #recipes-list > article {
    width: 80%;
    height: 400px;
    margin: 30px auto;
  }
  .instructions_recipe p {
    height: 88%;
  }
  #search-on > .searchBar > input::-webkit-input-placeholder {
    font-size: 0.8rem;
  }
  #search-on > .searchBar > input:-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #search-on > .searchBar > input::-ms-input-placeholder {
    font-size: 0.8rem;
  }
  #search-on > .searchBar > input::placeholder {
    font-size: 0.8rem;
  }
  #search-on > .searchBar img {
    width: 20px;
  }
}

@media screen and (max-width: 600px) {
  .tag {
    width: 20%;
    height: 40px;
    margin-bottom: 10px;
  }
  .tag > p {
    font-size: 0.8rem;
  }
  .tag img {
    padding: 0.2em;
  }
  #filter-by {
    margin-top: 80px;
  }
  #filter-by > div {
    width: 90%;
  }
  .instructions_recipe {
    height: auto;
  }
  .instructions_recipe p {
    height: 84%;
  }
}

/*@media screen and (max-width: 579px){
    .instructions_recipe {
        & p {
          -webkit-line-clamp: 8;
        }
    }
}*/
@media screen and (max-width: 440px) {
  article p {
    font-size: 0.9em;
  }
  article li {
    font-size: 0.9em;
  }
  #search-on .searchBar > input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  /*.instructions_recipe {
    & p {
      -webkit-line-clamp: 8;
    }
  }*/
  #yoursTags > .tag {
    width: 30%;
  }
}

/*@media screen and (max-width: 300px) {
    .instructions_recipe {
        & p {
          -webkit-line-clamp: 10;
        }
      }
}*/
/*# sourceMappingURL=mediaqueries.css.map */