@mixin bloc-shape($bg-color, $position, $direction){
    width: 20%;
    height: 100px;
    border-radius: 5px;
    margin-right: 1em;
    background-color: $bg-color;
    display: flex;
    justify-content: $position;
    flex-direction: $direction;
 

}

@mixin input($bg-image, $height){
   // background-image: $bg-image;
   // background-repeat: no-repeat;
   // background-position: 97% 50%;
    background-color: transparent;
    padding: 10px 60px 10px 20px;
    border:none;
    width: 100%;
    height: $height;
    font-size: 1rem;
}

@mixin tag-property($bg-color){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10% ;
    height: 30px;
    border : 1px #000 solid;
    border-radius: 5px;
    color: #fff;
    background-color: $bg-color;
    margin-right: 0.3em;
}