@mixin bloc-shape($bg-color){
    width: 30%;
    height: 69px;
    border-radius: 5px;
    background-color: $bg-color;
    display: flex;
    justify-content: center;

}

@mixin input($bg-image, $height){
    background-image: $bg-image;
    background-repeat: no-repeat;
    background-position: 97% 50%;
    background-color: transparent;
    padding: 10px 60px 10px 20px;
    border:none;
    width: 100%;
    height: $height;
    font-size: 1rem;
}