@mixin bloc-shape($direction){
    height: 100%;
    border-radius: 5px;
    margin-right: 1em;
    display: flex;
    flex-direction: $direction;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
 

}

@mixin input($bg-image, $height){
    background-color: transparent;
    padding: 0 10px;
    border:none;
    width: 100%;
    height: $height;
    font-size: 1rem;
 
}

@mixin tag-property(){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10% ;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    margin-right: 0.3em;
}