@charset "UTF-8";
/* couleur */
/* dimensions */
/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-slab-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-slab-v16-latin-regular.woff2") format("woff2"), url("../fonts/roboto-slab-v16-latin-regular.woff") format("woff"), url("../fonts/roboto-slab-v16-latin-regular.ttf") format("truetype"), url("../fonts/roboto-slab-v16-latin-regular.svg#RobotoSlab") format("svg");
  /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v20-latin-700.woff2") format("woff2"), url("../fonts/lato-v20-latin-700.woff") format("woff"), url("../fonts/lato-v20-latin-700.ttf") format("truetype"), url("../fonts/lato-v20-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/lato-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v20-latin-regular.woff2") format("woff2"), url("../fonts/lato-v20-latin-regular.woff") format("woff"), url("../fonts/lato-v20-latin-regular.ttf") format("truetype"), url("../fonts/lato-v20-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}

* a {
  text-decoration: none;
  color: #000;
}

* ul {
  list-style-type: none;
}

body {
  font-size: 1rem;
  width: 100%;
  height: auto;
  position: relative;
  margin-left: 0;
}

/* header */
header {
  width: 90%;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#banner h1 {
  color: #D04F4F;
  margin-top: 0;
}

#your-search {
  width: 100%;
}

/* form barre de recherche */
#search-on {
  width: 100%;
}

#search-on > .searchBar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  border: 1px #E7E7E7 solid;
  background-color: #E7E7E7;
  border-radius: 5px;
}

#search-on > .searchBar > input {
  background-color: transparent;
  padding: 0 10px;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 1rem;
  font-family: "lato-regular";
}

#search-on > .searchBar > input::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: "lato-regular";
}

#search-on > .searchBar > input:-ms-input-placeholder {
  font-size: 1rem;
  font-family: "lato-regular";
}

#search-on > .searchBar > input::-ms-input-placeholder {
  font-size: 1rem;
  font-family: "lato-regular";
}

#search-on > .searchBar > input::placeholder {
  font-size: 1rem;
  font-family: "lato-regular";
}

/* loupe de la barre de recherche principale */
.magnifying-glass {
  width: 30px;
  margin-right: 30px;
}

/* form trier par: */
#filter-by {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  position: absolute;
}

.filter-by_input {
  background-color: transparent;
  padding: 0 10px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.filter-by_input::-webkit-input-placeholder {
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
  font-family: "lato-700";
}

.filter-by_input:-ms-input-placeholder {
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
  font-family: "lato-700";
}

.filter-by_input::-ms-input-placeholder {
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
  font-family: "lato-700";
}

.filter-by_input::placeholder {
  color: #FFF;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 5px;
  font-family: "lato-700";
}

.filter-by_input:focus {
  border-radius: 5px;
}

/* bloc de recherche par ingrédients */
#by_ingredients {
  height: 100%;
  border-radius: 5px;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3282F7;
}

#by_ingredients .ingredients {
  background-color: #3282F7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#by_ingredients .ingredients input {
  color: #fff;
  font-weight: bold;
}

#by_ingredients .sub_menu__ingredients {
  background-color: #3282F7;
  padding: 0.8em 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  width: 100%;
}

#by_ingredients .sub_menu__ingredients > .tags__list {
  max-height: 700px;
  overflow: hidden;
  overflow-x: auto;
}

#by_ingredients .sub_menu__ingredients > .tags__list > li {
  width: 15%;
}

/*bloc de recherche par appareils */
#kitchen-appliance {
  height: 100%;
  border-radius: 5px;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #68D9A4;
}

#kitchen-appliance .appliances {
  background-color: #68D9A4;
  border-radius: 5px;
}

#kitchen-appliance .appliances input {
  color: #fff;
  font-weight: bold;
}

#kitchen-appliance .sub_menu__appliances {
  background-color: #68D9A4;
  padding: 0.8em 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  width: 100%;
}

/*bloc de recherche par ustensiles */
#kitchen-tool {
  height: 100%;
  border-radius: 5px;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ED6454;
}

#kitchen-tool .tools {
  background-color: #ED6454;
  border-radius: 5px;
}

#kitchen-tool .tools input {
  color: #fff;
  font-weight: bold;
}

#kitchen-tool .sub_menu__tools {
  background-color: #ED6454;
  padding: 0.8em 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
  width: 100%;
}

#kitchen-tool .sub_menu__tools .max-width > li {
  width: 100%;
}

/* dimensions des blocs de recherche (gestion avec JS) */
.max-height-ingredientsList {
  height: 800px;
  width: 50%;
}

.active {
  max-height: 800px;
}

/* div englobant l'input des blocs de recherche */
.menu {
  height: 69px;
  cursor: pointer;
  position: relative;
}

.menu > :hover {
  opacity: 0.8;
}

/* chevron des blocs */
.chevron {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10%;
  bottom: 35%;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* liste des tags des blocs */
.tags__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: auto;
  padding-left: 0;
}

.tags__list > li {
  margin: 0.3em;
  color: #fff;
  margin-bottom: 2px;
  cursor: pointer;
  line-height: 1.2;
  font-family: "lato-regular";
}

/* div d'affichage des tags sélèctionnés */
#yoursTags {
  margin-top: 1.5em;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#yoursTags > .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  margin-right: 0.3em;
  width: 15%;
  margin-bottom: 5px;
}

#yoursTags > .tag > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}

#yoursTags > .tag img {
  border: #fff 1px solid;
  border-radius: 50%;
  padding: 0.3em;
  cursor: pointer;
  margin-right: 2px;
}

/* propriétés couleur des tags sélèctionnés */
.blue {
  background-color: #3282F7;
  color: #fff;
}

.green {
  background-color: #68D9A4;
  color: #fff;
}

.red {
  background-color: #ED6454;
}

/* main */
#recipes-list {
  width: 90%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* articles recette */
article {
  width: 380px;
  height: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
}

article > a {
  height: 100%;
}

/* container des articles */
.content_article {
  height: 100%;
}

.content_article > div:nth-child(1) {
  height: 40%;
  background-color: #C7BEBE;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content_article div:nth-child(2) {
  background-color: #E7E7E7;
  height: 55%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* titre et durée des recettes */
.info_recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 25%;
  margin: auto;
}

.info_recipe > h3 {
  font-family: "lato-regular";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 18px;
  line-height: 21.6px;
}

.info_recipe p {
  font-weight: bold;
  font-family: "lato-700";
  font-style: normal;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
}

.info_recipe p img {
  margin-right: 0.5em;
  margin-top: 0;
}

/* ingrédient et description des recettes */
.instructions_recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  margin: auto;
  height: 95%;
}

.instructions_recipe > ul {
  width: 56%;
  padding-left: 0;
}

.instructions_recipe > ul > li {
  font-family: "lato-700";
  font-weight: bold;
  font-size: 12px;
  line-height: 14.04px;
}

.instructions_recipe p {
  font-family: "roboto-slab-regular";
  font-size: 12px;
  padding: 2px;
  width: 45%;
  height: 95%;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 12px;
}
/*# sourceMappingURL=style.css.map */