/* couleur */
$logo-color :#D04F4F;
$ingredients-color :#3282F7;
$appliance-color: #68D9A4;
$tool-color :#ED6454;
$bg-color-no-img : #C7BEBE;
$bg-color-primary : #E7E7E7;
$text-recipes-color: #000;
$text-filter-color : #FFF;

/* dimensions */
$height-bloc : 69px;
$border-radius-block : 5px;